@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title:</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h3>Additional Information</h3>
    <p>
        This is my first project using ASP.NET MVC 4, and it's been an enjoyable experience building it.
    </p>
</article>

<aside>
    <h3>Resources</h3>
    <p>
        Below are links to some other resources I find helpful.
    </p>
    <ul>
        @* I think it would be nice to write a custom html helper to link to absolute (external) urls.  I'll look into adding that time permitting *@
        <li><a href="http://stackoverflow.com" target="_blank">Stackoverflow</a></li>
        <li><a href="http://themergency.com/footable/" target="_blank">Footable Plugin</a></li>
        <li><a href="http://www.csharp411.com/" target="_blank">CSharp 411</a></li>
    </ul>
</aside>