@{
    ViewBag.Title = "Frequently Asked Questions:";
}

<h2>@ViewBag.Title</h2>

<article>
    <p>
        <b>Q: </b>How do I know if you have the game I want?
        <br />
        <b>A: </b>You can search for the game by title, or check the full game list.
    </p>

    <p>
        <b>Q: </b>Why doesn't the buy button work?
        <br />
        <b>A: </b>Because it's a demo.
    </p>

    <p>
        <b>Q: </b>What is the meaning of life, the universe, and everything?
        <br />
        <b>A: </b>42
    </p>
</article>
