@{
    ViewBag.Title = "Indie Game Store ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                The Indie Game Store is the #1 place to pretend to buy the latest and most popular games!
            </p>
        </div>
    </section>
}
<h3>Click below to see a full list of available games</h3>
@Html.ActionLink("Start Shopping", "Index", "Game")
